# Dependencies
node_modules/
**/node_modules/

# Production builds
build/
**/build/
dist/
**/dist/

# Python cache & venv
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.env

# Environment & IDE
.DS_Store
.vscode/
.idea/
